/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}

a:link{
    text-decoration: none;
}

p, li{
    font-family: 'Roboto', sans-serif;
}

.bkgPage{
    background-image: url(../img/bkg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 89%;
    height: 100vh;

}

.txtTitle p{
    color: white;
    font-size: 18px;
    padding: 10px;
    text-shadow: 1px 1px 5px rgba(124, 16, 224, 0.692);

    position: relative;
    top: 30px;
}

.txtAbout{
    height: 100vh;
    background-image: url(../img/bkgAboutMe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
}

.txtAbout p, .txtAbout h3{
    color: white;
    font-size: 18px;
    padding: 10px;

}

.txtAbout p a{
    color: rgb(243, 241, 241);
    font-style: italic;
}

.fa-envelope, .fa-github1{
    font-size: 22px;
    color: white;
    animation: envelopeMotion .7s infinite;
}

@keyframes envelopeMotion{
    0%, 100%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }

}


footer{
    padding: 10px;
    color: white;
    text-align: center;
    background-color: black;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
}

.fa-heart{
    color: red;
    animation: heartAnim infinite 1s;
}

@keyframes heartAnim{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

.fa-github{
    color: white;
    transition: text-shadow 0.25s;
}

.fa-github:hover{
    text-shadow: 0px 0px 3px white;
}

/* MEDIAS QUERIES */

@media(min-width: 620px){
    .txtTitle p{

        font-size: 22px;
        width: 350px;
        
        position: relative;
        left: 20px;
    }
    .txtAbout p{
        font-size: 22px;
    }
}

@media(min-width: 880px){
    .txtTitle p{
        font-size: 2em;
        width: 600px;
    }
    .bkgPage{
       height: 90vh;
    }
    .txtAbout{
        height: 90vh;
    }
}